*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 36pt;
    font-family: arial;
    text-transform: uppercase;
}

body h1{
    font-size: 26pt;
}

.reset{
    font-size: 3vw;
    grid-column: 2;
    grid-row: 4/5;
    /* position: absolute; */

}

.container{
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.card{
    display: block;
    width: 50%;
    background-image: url(https://i5.walmartimages.ca/images/Large/062/0_r/6000191270620_R.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.card1{
    display: block;
    width: 50%;
    background-image: url(https://i5.walmartimages.ca/images/Large/062/0_r/6000191270620_R.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

img{
    width: 100%;
    object-fit: fill;
}
