*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    overflow: hidden;
}

h1{
    text-align: center;
}

.game{
    height: 97vh;
    width: 100vw;
    display: grid;
}

.row{
    display: flex;
    flex-flow: row;
}

.row>div{
    height: 100%;
    width: 100%;
}


.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.brown{
    background-color: brown;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.cyan{
    background-color: cyan;
}

.purple{
    background-color: purple;
}

.black{
    background-color: black;
}
